@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Rubik", sans-serif;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
}

.outline-text {
  color: transparent;
  -webkit-text-stroke: 2px white; /* White border */
  font-weight: 800;
}
